/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom body styles */
body {
  @apply bg-gray-50 text-gray-800;
}

/* Custom container class for centering content */
.container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}